
<div>
  <h1><%= @client.first_name.capitalize %> <%= @client.last_name.capitalize %></h1>
  <table>
  	<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Age</th>
			<th>Gender</th>
			<th>Email</th>
			<th>Phone Number</th>
    </tr>
    <tr>
			<td><%= @client.first_name %></td>
			<td><%= @client.last_name %></td>
			<td><%= @client.age %></td>
			<td><%= @client.gender %></td>
			<td><%= @client.email %></td>
			<td><%= @client.phone_number %></td>
		</tr>
  </table>
  <h1>Session Information</h1>
  	<table>

   </table>
<nav>
  <%= link_to "All Clients", clients_path %> |
  <%= link_to "Edit", edit_client_path(@client) %>
  <%= link_to "Delete", client_path(@client), method: :delete, data: { confirm: 'Are you sure?' } %>
</nav>
</div>
<%= render 'footer' %>
